<br>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <%= render 'form' %>
    </div>
    <div class="col-sm-2">
    </div>
    <div class="col-sm-4">
      <strong>It is possible to edit Your existing Dashboard here.</strong>
    </div>
  </div>
</div>